body{
    margin: 0;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'Lobster Two', cursive; */
    /* font-family: 'Twinkle Star', cursive; */
}
.iinaamasum{
    font-family: 'Twinkle Star', cursive;
    color: red;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.heading{
    display: flex;
}
p{
    text-align: justify;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}
h1{
    font-size: 50px;
    /* font-family: 'Fredoka One', cursive; */
}
h2{
    color: rgba(245, 20, 20, 0.986);
}

/* .half-display{
    display: flex;
} */

/* .first-photo{
    width: 50%;
    
} */
.figm img{
    border-radius: 50%;
    height: 500px;
    width: 600px;
    padding-top: 100px;
}

a{
    background-image: linear-gradient(to right, orange, salmon);
    font: 50px sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: 'Fredoka One', cursive;      
}

/* second page */
.middle{
    display: flex;
}
.second-heading{
    font-size: 40px;
}
.second-blog{
    /* width: 50%; */
    padding-left: 100px;
    padding-right: 40px;
    margin-top: 120px;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-image: image-set();
    
}

.second-blog p{
        padding-right: 100px;
}
/* .sigm{
    width: 30%;
}
. .sigm img{
    height: 400px;
    width: 400px;
} */

/* third part */
.exp{
    display: flex;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp div{
    box-shadow: 10px 7px 40px rgb(52, 43, 26);
    /* height: 80%; */
    padding: 10px;
    margin-bottom: 20px;
}

#full{
    width: 40%;
    float: left;
    /* height: 400px; */
    margin-left: 5%;
    padding-left: 2%;
    /* border-left: 2px solid; */
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    background-image: linear-gradient(to right,grey, white);
}
#front{
    width: 40%;
    float: left;
    /* height: 400px; */
    padding-bottom: 100px;
    padding-right: 2%;
    margin-left: 5%;
    padding-left: 2%;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    background-image: linear-gradient(to right,grey, white);
}
#null{
    /* padding-left: 100px; */
    padding-top: 150px;
    border: 0;
    margin: 0;
    
}


/* last */
footer p{
    padding-top: 20px;
    text-align: center;
    color: red;
}